/*=============== GOOGLE FONTS ===============*/
@font-face { 
  font-family: 'MaginiaRegular'; 
  src: url(font/MaginiaRegular-BWP6x.woff) 
}

@font-face { 
  font-family: 'Goldplay-Regular'; 
  src: url(font/Goldplay-Regular.woff) 
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-width: 95%;

  /*========== Font and typography ==========*/
  --nav-font: "Goldplay-Regular", sans-serif;
  --title-font: "yana", sans-serif;
  --cursive-font: "LibreBaskerville";

  --biggest-font-size: 2.2rem;
  --h1-font-size: 1.3rem;
  --h2-font-size: 1.65rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .8rem;
  --smaller-font-size: .425rem;

  /*========== Font weight ==========*/
  --font-xthin: 200;
  --font-thin: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

 /*========== Colors ==========*/
  --body-color: hsl(0, 0%, 97%);
  --black-color: hsl(0, 0%, 3%);
  --black-color-light: hsl(0, 0%, 15%);
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .9rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  color: var(--black-color-light);
}

h1, h2, h4 {
  font-family: var(--title-font);
  font-weight: var(--font-xthin);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  text-align:center; 
  vertical-align: middle;
  display: table-cell;   
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: .5rem;
  /* border: 1px solid black; */
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  /* border: 1px solid black; */
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  padding: 2% 5% 6%;
  border-bottom: .08rem solid black;
}

.nav__link {
  position: relative;
  color: var(--black-color);
  font-size: var(--small-font-size);
  font-family: var(--nav-font);
  font-weight: var(--font-semi-bold);
  letter-spacing: .075rem;
}

/*=============== HOME ===============*/
.home__container {
  margin-top: 16%;
  padding: 3%;
}

.home__name {
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--black-color-light);
  letter-spacing: .18rem;
}

.home__name-sub {
  display: grid;
  grid-template-columns: .3fr 1fr .3fr;
  margin-top: -5%;
  margin-bottom: 10%;
}

.home__b-year {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: var(--smaller-font-size);
}

.home__sub {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5%;
  font-size: var(--small-font-size);
  letter-spacing: .1rem;
}

.home__d-year {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: var(--smaller-font-size);
}

.home__perfil {
  position: relative;
  justify-self: center;
}

.home__info {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  width:250px;
  height:100px; 
  color: white;
  margin-top: -50%;
  margin-left: 11%;
  z-index: var(--z-tooltip);
}

.home__description {
  font-family: var(--title-font);
  font-size: var(--biggest-font-size);
  font-weight: var(--font-thin);
  letter-spacing: .2rem;
}

.home__description-sub {
  font-family:var(--cursive-font);
  font-size: var(--normal-font-size);
  line-height: 170%;
  margin-top: -7.5%;
}

/*========== ABOUT ==========*/
.about__container {
  padding: 3%;
}